@import "tailwindcss";

:root {
  --rootground: #157aff;
  --background: #f8f8f8;
  --foreground: #000000;
}

body {
  background: var(--rootground);

  #content-container {
    background: var(--background);
    height: calc(100vh - 125px);
    margin: 30px;
    border-radius: 25px;
  }

  color: var(--foreground);
}